<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tiktok.mapper.ShoppingCartMapper">

    <select id="list" resultType="com.tiktok.entity.ShoppingCart">
        select * from `tiktok-mall`.shopping_cart
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="productId != null">
                and product_id = #{productId}
            </if>
        </where>
    </select>
</mapper>