<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tiktok.mapper.AddressBookMapper">

    <select id="list" resultType="com.tiktok.entity.AddressBook">
        select * from `tiktok-mall`.address_book where user_id = #{userId}
    </select>
</mapper>